# Import bazelrc presets
import %workspace%/tools/preset.bazelrc
try-import %workspace%/tools/java21.bazelrc

### YOUR PROJECT SPECIFIC OPTIONS GO HERE ###

# Remote cache config
common --bes_results_url=https://app.buildbuddy.io/invocation/
common --bes_backend=grpcs://remote.buildbuddy.io
common --remote_cache=grpcs://remote.buildbuddy.io
common --remote_cache_compression
common --noslim_profile
common --experimental_profile_include_primary_output
common --experimental_profile_include_target_label

# Remote execution config
common:remote --remote_executor=grpcs://remote.buildbuddy.io
common:remote-linux --config=remote
common:remote-linux --platforms=@toolchains_buildbuddy//platforms:linux_x86_64
common:remote-linux --extra_execution_platforms=@toolchains_buildbuddy//platforms:linux_x86_64
common:remote-linux --jobs=50

# For keep-sorted
common --experimental_isolated_extension_usages

# https://github.com/aspect-build/rules_lint/issues/741
common --nobuild_event_binary_file_path_conversion

# To always show a warning if githooks config is not correct
common --workspace_status_command=githooks/check-config.sh

# Disable skymeld; see https://github.com/bazelbuild/bazel/issues/23743
# fixes src/main/tools/process-wrapper-legacy.cc:80: "execvp(external/++toolchains+coreutils_linux_amd64/coreutils, ...)": No such file or directory
common --noexperimental_merged_skyframe_analysis_execution

# for speed, passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always
# use `tsc` for transpiling, even though it's slow.
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

# rules_python is working to enable this default to avoid dependency on a system interpreter
# See https://github.com/bazel-contrib/rules_python/issues/3187
# NB: some tools run py_binary targets even if the user didn't select to add Python to their project
common --@rules_python//python/config_settings:bootstrap_impl=script

# To stamp release builds, run with
# --config=release
common:release --stamp --workspace_status_command=./tools/workspace_status.sh

# Ignore lockfile in CI
# Docs: https://registry.build/flag/bazel?filter=lockfile_mode
common:ci --lockfile_mode="off"

# Don't depend on a JAVA_HOME pointing at a system JDK
# see https://github.com/bazelbuild/rules_jvm_external/issues/445
build --repo_env=JAVA_HOME=../bazel_tools/jdk

# Linting configuration
common:lint --aspects=//tools/lint:linters.bzl%buf
common:lint --aspects=//tools/lint:linters.bzl%checkstyle
common:lint --aspects=//tools/lint:linters.bzl%eslint
common:lint --aspects=//tools/lint:linters.bzl%shellcheck
common:lint --aspects=//tools/lint:linters.bzl%ruff
common:lint --aspects=//tools/lint:linters.bzl%pmd
common:lint --aspects=//tools/lint:linters.bzl%ktlint
common:lint --aspects=//tools/lint:linters.bzl%keep_sorted
common:lint --aspects=//tools/lint:linters.bzl%stylelint
common:lint --aspects=//tools/lint:linters.bzl%clippy

# Show timeout warnings to correctly adjust build/test timeouts
test --test_verbose_timeout_warnings

# To output something for xargs
run:quiet --ui_event_filters=-info,-stdout,-stderr --noshow_progress

# Load any settings & overrides specific to the current user.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/user.bazelrc
