[*.{kt,kts}]
ktlint_standard_indent = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_when-entry-bracing = disabled