# Configuration for pnpm

# Disabling pnpm [hoisting](https://pnpm.io/npmrc#hoist) by setting `hoist=false` is recommended on
# projects using rules_js so that pnpm outside of Bazel lays out a node_modules tree similar to what
# rules_js lays out under Bazel (without a hidden node_modules/.pnpm/node_modules)
hoist=false

# Symlink node_modules structure
node-linker=hoisted

# Don't allow postinstall scripts to run outside of Bazel
# This ensures reproducibility
ignore-scripts=false
